<html>
	<head>
		<link rel="stylesheet" href="/css/front.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="icon" href="/images/front-logo.png" type="image/png" />
		<title>Online Art Gallery and Auction System</title>
	</head>

	<body>
		<div id="inp1" class="lazy">
			<div id="inp3">
				<img src="/images/logo.png" />
				<button id="btn">
					<a href="/home">Explore</a>
				</button>
			</div>
		</div>

		<script src="/js/lazyLoading.js"></script>
	</body>
</html>
