<footer>
	<div class="links">
		<ul>
			<li><a href="/home">home</a></li>
			<li><a href="/home/about">about us</a></li>
			<li><a href="/home/contact">contact us</a></li>
		</ul>

		<div class="social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<p>Copyright &copy; 2019 by Artenvie. All rights reserved.</p>
</footer>