:root {
	--textColor: rgb(223, 189, 36);
	--font: 'Rubik', sans-serif;
}

body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif !important;
}

.card-padd {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.card-body {
	padding-bottom: 15px !important;
	background-color: rgb(243, 243, 243);
}

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 1.5s ease;
	height: 200px !important;
}

.inner:hover img {
	transform: scale(1.5);
}

.card-title {
	font-size: 20px;
	font-weight: 400;
}

.artist-name p {
	font-weight: 400;
	font-size: 19px;
	margin: 0px;
	padding-bottom: 2px;
}

.artwork-category p {
	font-size: 16px;
	margin-top: -15px;
	color: #dfbd24;
	padding-bottom: 5px;
}

.buying-format p {
	margin-top: -10px;
	font-size: 16px;
	color: #dfbd24;
}

.card h5 {
	color: black;
}

.btn.btn-primary {
	background-color: black !important;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 15px;
	margin-left: -2px;
	color: white;
	font-weight: 400;
}

.btn.btn-primary:hover {
	background-color: #dfbd24 !important;
	border: 1px solid #dfbd24 !important;
	color: white;
	font-weight: 400;
}

.pages {
	margin: 0 auto;
	margin-top: 5em;
}

.pages .pagination li a {
	border: 1px solid black !important;
	color: black !important;
	font-weight: 400 !important;
}

.pagination li .active {
	background-color: var(--textColor) !important;
}

.page-item.active .page-link {
	background: black !important;
	font-weight: 400 !important;
	color: white !important;
	border: 1px solid black !important;
}

.pages .pagination li a:hover {
	transition: 0.5s;
	background-color: var(--textColor) !important;
	color: black !important;
}

@media screen and (max-width: 992px) {
	.wrapper h1 {
		font-size: 3.5em;
	}

	.artists {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.artists .details {
		-ms-flex-preferred-size: 48%;
		flex-basis: 48%;
	}
}

@media screen and (max-width: 768px) {
	.road-bar {
		margin-top: 6em;
	}

	.wrapper h1 {
		font-size: 2.5em;
	}

	.artists,
	.links {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.links .social {
		margin-left: 7em;
	}

	footer {
		height: 200px;
	}

	footer p {
		margin-top: 0.1em;
	}
}

@media (max-width: 766px) {
	.search {
		margin-left: -30px !important;
	}
	.search button {
		float: right !important;
	}
	.search .srch-btn {
		padding-right: 14px !important;
		padding-top: 5px !important;
	}
}

.filter {
	color: var(--textColor);
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
}

.btn-info {
	background-color: #dfbd24 !important;
	border: 1px solid #dfbd24;
	border-radius: 3px;
	padding: 5px 15px;
	margin-left: -70px;
	margin-top: -1px;
	color: white;
	font-weight: 400;
}

.btn-info:hover {
	background-color: black !important;
	border: 1px solid black !important;
	color: white;
	font-weight: 400;
}
