:root {
    --textColor: rgb(223, 189, 36);
    --font: 'Rubik', sans-serif;
  }

body
{
	margin:0 auto;
	padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif !important;
}


.form-group input
{
    height: 47px;
    padding-left: 20px; 
    font-size:1em;
    font-weight: 400;
    color: black !important;
}

.form-group select
{
    height: 47px;
    padding-left: 16px; 
    font-size:1em !important;
    font-weight: 200;
    color: black !important;
}

.form-group select option
{
    height: 47px;
    padding-left: 16px; 
    font-size:1em !important;
    font-weight: 200;
    color: black !important;
}

.form-group textarea
{
    padding-left: 18px; 
    font-size:1em !important;
    font-weight: 200;
    color: black !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.form-group label
{
    font-size:18px; 
    word-spacing:2px; 
    color:black; 
    margin-top:15px; 
    font-weight: 100;
}

.form-group a 
{
    color: #DFBD24;
    font-weight: 500;
    text-decoration: none;
}

::placeholder
{
    color: black !important;
    font-weight: 100;
    font-size: 18px;
}

.wrapper2
{
    padding: 10px;
    margin-top: 2em;
}

.wrapper2 h3
{
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 10px;
} 

.wrapper3
{
    margin-top: 2em;
    padding: 10px;
}

.wrapper4
{
    
    border: 1px solid rgb(220, 220, 220);
	background: rgb(248, 248, 248);
    padding: 1.2em 20px 0px 20px;
    
}

.wrapper3 h3
{
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 10px;
}



.wrapper3 .cart h3
{
    
    font-size: 1.06em;
    word-spacing: 2px;
    font-weight: 500;
}



.products p
{
    font-size: 1.02em;
    font-weight: 400;
    color: var(--textColor);
}

.cart .right-p
{
    font-size: 0.95em !important;
    font-weight: 400;
    color: black;
}

.cart .total p
{
    font-size: 1.06em;
    word-spacing: 2px;
    font-weight: 500;
    margin-top: 15px;
}

.btn-primary
{
    margin-top: -20px !important; 
    font-size:1.05em;
    border-radius: 3px; 
    font-weight: 400;
    background: none !important;
    background-color: black !important; 
    border: 1px solid black !important; 
    color:white;
}    

.btn-primary a
{
    text-decoration: none;
    color: white;
}

.btn-primary:hover 
{
    color: white;
    transition: 0.3s ease-in-out;
    background-color: var(--textColor) !important;
    border-color: var(--textColor) !important; /*set the color you want here*/
}

