body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: black !important;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.nav-img {
    width: 150px;
    height: auto;
}

.navbar .nav-item a {
    color: #dfbd24 !important;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-left: 20px !important;
}

.navbar .nav-item a:hover {
    color: white !important;
    transition: 0.5s ease-in-out;
}

.navbar .dropdown-menu {
    background-color: black;
}

.dropdown-item:hover {
    color: white !important;
    background: black !important;
    transition: 0.5s ease-in-out;
}

.custom-toggler.navbar-toggler {
    margin-top: 15px;
    cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 189, 36)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}