<link rel="stylesheet" href="/css/aboutUs.css" type="text/css" />

<div class="road-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0 clearfix">
				<a href="/home" class="float-left">Home</a><span class="ml-2 mb-0 float-left">/</span>
				<p class="text-black ml-2 float-left">About Us</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="wrapper">
			<div class="float-left">
				<h1>ABOUT US</h1>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="artists">
				<div class="details">
					<div class="img"><img src="../images/umar.jpg" alt="" /></div>
					<div class="info">
						<h3>Umar Ashraf</h3>
						<div class="profession">
							<p>Founder and Developer</p>
						</div>
						<div class="team-quote">
							<p>" Art is not what you see, but what you make others see "</p>
						</div>
					</div>
					<ul class="social-links team-links">
						<li>
							<a href="#"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-google-plus-square"></i></a>
						</li>
					</ul>
				</div>

				<div class="details">
					<div class="img"><img src="../images/designer2.jpeg" alt="" /></div>
					<div class="info">
						<h3>George Johnson</h3>
						<div class="profession">
							<p>UI/UX Web Designer</p>
						</div>
						<div class="team-quote">
							<p>" Art is the lie that enables us to realize the truth "</p>
						</div>
					</div>
					<ul class="social-links team-links">
						<li>
							<a href="#"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-google-plus-square"></i></a>
						</li>
					</ul>
				</div>

				<div class="details">
					<div class="img"><img src="../images/zeeshan.jpg" alt="" /></div>
					<div class="info">
						<h3>Zeeshan Aslam</h3>
						<div class="profession">
							<p>Founder and Developer</p>
						</div>
						<div class="team-quote">
							<p>" Art washes away from the soul the dust of life "</p>
						</div>
					</div>
					<ul class="social-links team-links">
						<li>
							<a href="#"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter-square"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-google-plus-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px">
		<div class="container" style="margin-bottom: 60px">
			<div class="row">
				<div class="col-4 offset-4">
					<div class="line" style="height: 2px; background-color: rgb(228, 228, 228)"></div>
				</div>
			</div>
		</div>

		<div class="wrapper">
			<div class="float-left">
				<h1>OUR AIM</h1>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="container our-aim">
		<div class="row">
			<div class="col-md-12">
				<p>
					We live in a digital world where things change in a single blink of an eye especially in the race of business in order to compete globally one should be always ready to adapt new changes in
					the technology, decide how to invest and how to use new market trends in best possible ways. Our primary goal is to give you a web based online art gallery application where people can
					admire and observe different kinds of art while sitting at home. They can request and get any of their desired artwork from this online gallery. We want to provide a platform to those people
					who have a great passion for art and want to put their passion and talent into some use in order to earn something from their artwork and to show their talented artwork to the world.
				</p>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px">
		<div class="container" style="margin-bottom: 60px">
			<div class="row">
				<div class="col-4 offset-4">
					<div class="line" style="height: 2px; background-color: rgb(228, 228, 228)"></div>
				</div>
			</div>
		</div>

		<div class="wrapper">
			<div class="float-left">
				<h1>WHAT WE OFFER</h1>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="container our-aim">
		<div class="row">
			<div class="col-md-12">
				<p>
					ArtEnvie is a web based online art gallery which allow users to register themselves in order to view different kinds of art and to get facilities of the application. They can use this
					application as a seller and a buyer both. As a seller user can display his/her artworks in the gallery with some fixed price and specifications. User can put his/her valuable artwork in an
					auction to get better profits and can also put artworks on sale with some discount price. As a buyer user can visit the artwork of the different other users and can place order if he/she
					wants that artwork. If a buyer wants such item which is in auction then he/she will place bids on that item and after the auction ends the buyer with highest bid will get the item. Buyers
					can also give reviews and ratings to the sellers. Payment methods will also be listed through which deals will take place between seller and buyer.
				</p>
			</div>
		</div>
	</div>
</div>
