<div class="container">
	<div class="adminPanel">
		<div class="row mb-4" style="margin-top: 30px">
			<div
				class="col-md-8"
				style="
					margin: 0 auto !important;
					padding: 20px 45px 40px 45px;
					border: 1px solid rgb(220, 220, 220);
					background: rgb(243, 243, 243);
					box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
				"
			>
				<h2 class="mt-3 mb-3 text-info">Order Cancel Request</h2>

				<hr style="background-color: #bad0d3 !important; height: 0.3px; border: none !important; width: 100%; margin: 20px 0px 30px 0px" />

				<form action="/admin/users/orders/cancelReason/<%= orderId %>" method="post">
					<div class="form-group mt-2">
						<div class="form-group mt-2">
							<label for="condition">Order Cancellation Reason </label>
							<textarea type="text" class="form-control" placeholder="Enter your reason for order cancellation..." id="descripttion" name="reason" rows="7" required></textarea>
						</div>
					</div>

					<button type="submit" class="btn btn-md btn-info mt-2 mb-2">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
