<div class="container">
  <div class="adminPanel">
    <div class="row mb-4" style="margin-top: 140px">
      <div
        class="col-md-6"
        style="
          margin: 0 auto !important;
          padding: 20px 45px 40px 45px;
          border: 1px solid rgb(220, 220, 220);
          background: rgb(243, 243, 243);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
            0 1px 7px 0 rgba(0, 0, 0, 0.19);
        "
      >
        <h2 class="mt-3 mb-4 text-info">Change Password</h2>

        <hr
          style="
            background-color: #bad0d3 !important;
            height: 0.3px;
            border: none !important;
            width: 100%;
            margin: 20px 0px 30px 0px;
          "
        />

        <form
          action="/admin/users/account/password/<%= user._id %>"
          method="POST"
          onsubmit="event.preventDefault(); displaySpinner(this,'btn-pwd')"
        >
          <div class="form-group">
            <label for="title">Enter Current Password:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="enter password..."
              required
            />
          </div>

          <input
            type="submit"
            value="Submit"
            class="btn btn-md btn-info pwd-btn mt-2"
            id="btn-pwd"
          />
        </form>
      </div>
    </div>
  </div>
</div>
