<div class="container">
  <div class="adminPanel">
    <div class="row mb-4" style="margin-top: 20px">
      <div
        class="col-md-8"
        style="
          margin: 0 auto !important;
          padding: 20px 45px 30px 45px;
          border: 1px solid rgb(220, 220, 220);
          background: rgb(243, 243, 243);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
            0 1px 7px 0 rgba(0, 0, 0, 0.19);
        "
      >
        <h2 class="mt-3 mb-4 text-info">Contact Admin</h2>

        <hr
          style="
            background-color: #bad0d3 !important;
            height: 0.3px;
            border: none !important;
            width: 100%;
            margin: 20px 0px 30px 0px;
          "
        />

        <form
          action="/admin/users/contactAdmin"
          method="post"
          onsubmit="event.preventDefault(); displaySpinner(this,'msg-btn')"
        >
          <div class="form-group mt-2">
            <label for="title">Subject Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Subject Title"
              id="title"
              name="subject"
              required
            />
          </div>

          <div class="form-group">
            <label for="condition">Write Message To Admin </label>
            <textarea
              type="text"
              class="form-control"
              placeholder="Enter your query to send admin ..."
              id="descripttion"
              name="query"
              rows="7"
              required
            ></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-md btn-info mt-2 mb-2 msg-btn"
            id="msg-btn"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
