<link rel="stylesheet" href="/css/login.css" />

<div class="container">
  <div class="row" style="margin-top: 235px; color: black">
    <div class="col-lg-6 offset-lg-3 text-center">
      <div class="form-wrap">
        <h6 class="text-success text-center mb-1"></h6>
        <h1
          class="text-center"
          style="
            font-size: 45px !important;
            word-spacing: 4px;
            letter-spacing: 0px !important;
          "
        >
          RESET PASSWORD
        </h1>
        <form
          role="form"
          action="/home/user/forgotPassword"
          method="post"
          id="login-form"
        >
          <div class="form-group">
            <input
              required
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Enter recovery email..."
            />
          </div>

          <input
            class="btn btn-primary btn-block btn-lg"
            type="submit"
            name="login"
            id="btn-login"
            value="Submit"
          />
        </form>
      </div>
    </div>
  </div>
</div>
