<link rel="stylesheet" href="/css/login.css" />

<div class="container">
  <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
  <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%#= error.message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div> -->

  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    style="margin-top: 100px !important; margin-bottom: -50px !important"
  >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight: 500; font-size: 18px">
      <%= error.message %>
    </strong>
  </div>

  <% }); %> <% } %>

  <div class="row" style="margin-top: 235px; margin-bottom: 50px; color: black">
    <div class="col-lg-6 offset-lg-3 text-center">
      <div class="form-wrap">
        <h1
          class="text-center"
          style="
            font-size: 45px !important;
            word-spacing: 4px;
            letter-spacing: 0px !important;
          "
        >
          ENTER NEW PASSWORD
        </h1>
        <form action="/home/user/setPassword/<%= id %>" method="POST">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Enter Password..."
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              placeholder="Renter Password..."
            />
          </div>

          <input
            type="submit"
            value="Submit"
            class="btn btn-primary btn-block btn-lg"
          />
        </form>
      </div>
    </div>
  </div>
</div>
