<link rel="stylesheet" href="/css/login.css" />

<div class="container">
  <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>

  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    style="margin-top: 100px !important; margin-bottom: -50px !important"
  >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight: 500; font-size: 18px">
      <%= error.message %>
    </strong>
  </div>

  <% }); %> <% } %>

  <!-- <div
    class="alert alert-success alert-dismissible fade show text-center"
    style="margin-top: 100px !important; margin-bottom: -50px !important"
  >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight: 500; font-size: 18px">
      We have sent a password reset code to your email. Please enter below.
    </strong>
  </div> -->
  <div class="row" style="margin-top: 235px; margin-bottom: 50px; color: black">
    <div class="col-lg-6 offset-lg-3 text-center">
      <div class="form-wrap">
        <h1
          class="text-center"
          style="
            font-size: 45px !important;
            word-spacing: 4px;
            letter-spacing: 0px !important;
          "
        >
          PASSWORD RESET CODE
        </h1>
        <form role="form" action="/home/user/resetPassword" method="post">
          <input
            type="hidden"
            name="email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
          <div class="form-group">
            <input
              required
              type="text"
              name="token"
              id="token"
              class="form-control"
              placeholder="Enter reset code sent in your verifying email address... "
            />
          </div>

          <input
            class="btn btn-primary btn-block btn-lg"
            type="submit"
            name="submit"
            id="btn-login"
            value="Submit"
          />
        </form>
      </div>
    </div>
  </div>
</div>
