<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/navbar.css" /> -->
    <!-- <link rel="stylesheet" href="/css/admin.css" />
			
		<link rel="stylesheet" href="/css/post.css" />
			
		<link rel="icon" href="../images/front-logo.png" type="image/png" />

		<link rel="stylesheet" href="/css/style.css" /> -->
    <link rel="icon" href="/images/front-logo.png" type="image/png" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/sb-admin.css" rel="stylesheet" />

    <link href="/css/chat.css" rel="stylesheet" />

    <link href="/css/bootstrap-switch.min.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <title><%= title %></title>
  </head>
</html>
